[client-server]

[mysqld]
user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql
lc-messages             = en_US

# Binding to all IP addresses
bind-address            = 0.0.0.0 

# Character sets
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci

# Tweaking the connection settings
max_connections         = 150 
connect_timeout         = 5
wait_timeout            = 600
max_allowed_packet      = 16M
thread_cache_size       = 128
sort_buffer_size        = 4M
bulk_insert_buffer_size = 16M
tmp_table_size          = 32M
max_heap_table_size     = 32M

# Ensuring safety
skip-external-locking
expire_logs_days        = 10 

# InnoDB settings
default_storage_engine  = InnoDB
innodb_buffer_pool_size = 256M
innodb_log_file_size    = 64M
innodb_file_per_table   = 1
innodb_open_files       = 400
innodb_io_capacity      = 400
innodb_flush_method     = O_DIRECT

[embedded]

[mariadb]

[mariadb-10.5] 
